/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 background-color: #D3D0CB;
 color: #393E41
 }

h1 {
  color: #F24E48;
}

h2 {
  background-color: #FFCB47;
  color: #393E41;
}

h3 {
  color: #E7E5DF;
}

.user_menu {
  background-color: #F24E48;
  color: #E7E5DF; /* change */
}

footer {
  background-color: #393E41;
  color: #E7E5DF;
  text-align: center;
}
